@import "modules/reset";
@import "modules/vars";


@import "modules/video";
@import "modules/audio";

body {
  font-family: sans-serif;
  font-size: medium;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}